.padre {
	background-color: darkred;
	height: 500px;
	width: 100%;
	margin-left: 0%;
	box-shadow: 5px 5px 5px 5px;
	border-radius: 5px;
	padding-top: 5%;

}
.bodyy {
	margin: 15px;
	background-image: url(https://www.xtrafondos.com/wallpapers/fuegos-artificiales-de-colores-11326.jpg);
}
.encabezado {
	font-family: Arial;
	font-size: 15px;
	border-bottom: 0px;
	padding-top: 1%;
	color: yellow;
	transition: 0.5s;
}
.q {
	background-color: black;
	color: white;
	font-family: Arial;
	font-size: 12.4px;
	border-bottom: 0px;
}

table {
	border: solid darkred 1px;
	border-spacing: 0;
	box-shadow: 0px 0px 5px 5px;
	border-radius: 5px;
}
.epa {
	opacity: 90%;

}

td {

	background-color: gray;
}
.div-color {
	background-color: gray;
	border-top: 0px;
	height: 3px;
	transition: 2s;
}

a {
	font-family: arial;
	font-size: 12.4px;
	color: white;
	background-color: gray;
	text-decoration: none;
}

.titulo {
	background-color: black;
	font-family: arial;
	font-size: 24px;
	color: white;
	justify-content: flex;
	padding: 2% 2% 2% 2%;
	margin-left: 7px;
	margin-right: 7px;
	height:30%;
	width: 20%;
}
.radio-titulo {
	border-radius: 5px;
	box-shadow: red 0px 0px 2px 2px;
}
.bt-encabezado-izq {
	height:60%;
	width: 20%;

background-color: black;
color: white;
border-color: red;
border-radius: 5px;
box-shadow: red 0px 0px 1px 1px;
margin-left: 18%;
}
.bt-encabezado-der {
	height:60%;
	width: 20%;
background-color: black;
color: white;
border-color: red;
border-radius: 5px;
box-shadow: red 0px 0px 1px 1px;

}
.select-encabezado {
	width: 40%;
	height: 70%;
	margin-left: 6%;
	border: solid red 2px;
	border-radius: 10px;
}
.mes-feb {
text-align: center;
}


.calcular {
	width: 35%;
	height: 30%;
	font-family: arial;
	font-size: 1.3em;
	border: solid black 2px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px 2px;
	opacity: 70%;
}
.cal-der {
	margin-left: 20%;
	
	margin-top: 10px;
}
.calcular:focus {
	color: blue;
}
.k {
	background-color: transparent;
	height: 60px;
	
	border-radius: 10px;
}

.mañana {
	background-color: green;
}
.tarde {
	background-color: orange;
}
.noche {
	background-color: black;
}
.horarios {
font-family: arial;
font-size: 1.3em;
color: white;
border-radius: 5px 5px;
padding: 5px;
margin: auto;
opacity: 60%;
}
.borde-horarios {
	border: solid 2px black;
}
.horarios-padre {
	padding: 10px;
	background-color: transparent;
	width: 97%;
	height: 110px;
}
.anclas {
	visibility: hidden;
}
.my-fixed-item {
	font: 150% sans-serif;
	color: white;
    position: fixed;
    min-height: 60px;
    width: 60px;
    text-align: center;
    word-wrap: break-word;
    background-color: red;
    margin-left: 72%;
    margin-top: 150%;
    border-radius: 5px;
    z-index: +1;
}
.my-fixed-item:active {
	box-shadow: 0px 0px 5px 5px darkred;
}
.my-fixed-item2 {
	font: 150% sans-serif;
	color: white;
    position: fixed;
    min-height: 30px;
    width: 140px;
    text-align: center;
    word-wrap: break-word;
    background-color: red;
    margin-left: 30%;
    margin-top: 157%;
    border-radius: 5px;
    z-index: +1;
}
.my-fixed-item2:active {
	box-shadow: 0px 0px 5px 5px darkred;
}
.padreto {
	transition: 2s;
	visibility: visible;
	height: 3000px;
}




















.tabbb {
	font: 12.4px arial;
	border-spacing: 0;
		transition: 1s;
}
.titulos {
	background-color: black;
	color: white;
		transition: 2s;
}
.dia {
	border-bottom: transparent;
		transition: 2s;
}
.base {
height: 3px;
border-top: transparent;
background-color: red;
	transition: 2s;
}
.ingresos {
	margin-left: 1%;
	width: 99%;
	height: 150px;
	border: solid black 1px;
		transition: 2s;
}
.descuentos {
	margin-left: 1%;
	width: 99%;
	height: 150px;
	border: solid black 1px;
		transition: 2s;
}
.parr {
	margin-top:0; 
	margin-bottom:0;
	margin-left: 1%;
		transition: 2s;
}
.fondo {
	margin-top: 0;
	background-color: gray;
	color: white;
		transition: 2s;
}
.se {
	width: 6.8em;
	margin-left: 1%;
		transition: 2s;
}
.bo {
	width: 90%;
	transition: 2s;
}
.padrefe {
	width: 98%;
	background-color: white;
	margin-top: -30%;
	padding-bottom: 3%;
	display: none;
	transition: 2s;
	opacity: 0%;
}